{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {{ form_start(searchForm) }}
                    {{ form_row(searchForm.name) }}
                    {{ form_row(searchForm.categories) }}
                    <button type="submit" class="btn btn-success">Rechercher</button>
                {{ form_end(searchForm) }}
            </div>
            <div class="col-md-9">
                {% if products|length > 0 %}
                    <h1 class="text-primary product-text-title">Liste des produits</h1>
                    <div class="row">
                        {% for product in products %}
                        <div class="col-md-3 mb-4">
                            {% include '/layouts/_product_card.html.twig' with {'product': product} only %}
                        </div>
                    {% endfor %}
                    </div>
                {% else %}
                    <h1 class="text-warning warning-text-title">Pas de produits à afficher pour le moment.</h1>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
