{% extends 'base.html.twig' %}

{% block title %}New Products{% endblock %}

{% block body %}
    <div class="container">
        <h1>Nouveau produit</h1>
        {{ include('products/_form.html.twig') }}
        <a href="{{ path('app_products_index') }}">Retour au liste</a>
    </div>
{% endblock %}
