{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="form">
        <h2>Ajouter une catégorie</h2>
            {{ form_start(form) }}
                {{ form_row(form.name, 
                    {'attr': 
                        {
                            'class' : 'form form-control',
                            'placeholder': 'Nom du catégorie'
                        }
                    }
                    ) }}
                <input type="submit" class="btn btn-block btn-sm btn-primary w-100" value="Enregistrer">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
